.home {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.colorBlock1 {
    background-color: yellow;
    width: 50%;
    height: 100%;
}

.colorBlock2 {
    background-color: rgb(248, 248, 248);
    width: 50%;
    height: 100%;
}

.greeting {
    z-index: 1;
    font-weight: 900;
    font-size: 180px;
    margin: 0px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

.yellowChar {
    color: yellow;
}

.grayChar {
    z-index: 1;
    font-weight: 400;
    font-size: 50px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(220, 220, 220);
}

.textOverlay {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* media queries */

/* mobile (mobile, 600px and down) */
@media screen and (max-width: 600px) {

    .greeting {
        font-size: 25vw;
    }
    .grayChar {
        font-size: 8vw;
    }

}