.app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 2;
}


.nav-links {
    display: flex;
}

.nav-burger {
    display: none;
    background-image: url('../images/burger.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    height: 25px;
    width: 25px;
    z-index: 2;
    right: 42px;
    top: 6.5px;
    position: fixed;
}

main {
    height: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 40px;
}

aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40px;
    position: fixed;
    background-color: white;
    align-self: flex-end;
    justify-content: center;
    z-index: 2;
}

a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding-left: 30px;
}

.fab {
    font-size: 32px;
    padding: 10px 0px 10px 4px;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 32px;
    text-decoration: none;
    color: black;
    padding-left: 0;
}

footer {
    background-color: white;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: hidden;
} 

/* media queries */

/* small mobile (mobile, 480px and down) */
@media screen and (max-width: 480px) {

    main {
        padding-bottom: 2%;
        padding-right: 2%;
    }

    nav {
        display: flex;
        width: calc(100% - 4%);
        position: fixed;
        top: 50px;
        background: white;
        z-index: 2;
        justify-content: flex-end;
        text-align: right;
    }

    .nav-links-open {
        display: flex;
        flex-direction: column;
    }

    .nav-links-closed {
        display: none;
    }

    .nav-links-open a {
        margin-bottom: 12px;
    }

    .nav-burger {
        display: flex;
        right: 2%;
        
    }

    aside a {
        display: none !important;
    }

    aside {
        display: none;
    }

    footer {
        display: none;
    }

}

