body, html {
    height: 100%;
    margin: 0px;

    /* prevents screen from getting smaller than 320px */
    min-width: 320px;
    
    box-sizing: border-box;
}

#root {
    height: 100%;
    margin: 0px 0px 0px 40px;;
}

/* media queries */

/* small mobile (mobile, 600px and down) */
@media screen and (max-width: 600px) {

    #root {
        margin-left: 2%;
    }

}