.projects-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
}

.projects-title{
    text-align: left;
    padding-left: 20px;
    font-weight: 900;
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 110px;
    padding-right: 50px;
    margin: 20px 0px 0px 0px;
}

.projects-textbox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.projects-text-column {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    justify-content: center;
    margin-top: 175px;
    margin-bottom: 30px;
    width: 450px;
}

.projects-background {
    display: flex;
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 715px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}

/* media queries */

/* Large devices (laptops/desktops, 1200px and down) */
@media screen and (max-width: 1200px){
   .projects-background {
       height: 1072.5px;
   }
}

/* tablet (landscape tablets, 768px and down) */
@media screen and (max-width: 768px) {

    .projects-text-column {
        margin-top: 30px;
    }

    .projects-background {
        height: 2400px;
    }

    .container-projects {
        flex-direction: column;
        flex-wrap: nowrap;
    }

}

/* start scaling text and images down */
/* mobile (mobile, 600px and down) */
@media screen and (max-width: 600px) {

    .projects-title {
        font-size: 20vw;
        line-height: 84%;
    }

    .emphasize {
        font-size: 5vw;
    }

    .container-projects {
        margin-right: 0%;
        margin-left: 0%;
        margin-bottom: 2%;
    }

    .projects-text-column {
        margin-left: 0%;
    }

}