.project-display {
    background-color: rgb(220, 220, 220);
    position: relative;
    margin: 1px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2px);
}

/* displays image of app landing page */
.project-image {
    position: absolute;
    object-fit: fill;
    height: 100%;
}

.project-title {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    margin-left: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}

.project-description {
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    flex-grow: 1;
}

.project-links {
    margin-left: 20px;
    margin-bottom: 10px;
}

.links-light-gray {
    font-weight: 500;
    font-size: 19px;
    color: rgb(160, 160, 160);
    padding: 8px 12px 0px 0px;
    text-decoration: none;
    text-transform: capitalize;
}